# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Generated data
chroma_db/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Temp files
*.wav
*.mp3

# OS specific files
.DS_Store
Thumbs.db